<div class="app-container">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0" style="position: fixed; top: 0%; width: 100%;">
    <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center;">
      <a class="navbar-brand" href="#" style="font-size: xx-large; font-family: 'Times New Roman';">Chatbot App</a> -->
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- <div style="display: flex; gap: 10px; align-items: center;">
        <a class="nav-link" routerLink="/" routerLinkActive="active" style="font-family: 'Times New Roman';margin-right: 1.9rem;" >Home</a>
        <a class="nav-link" routerLink="/uploaddata" routerLinkActive="active" style="font-family: 'Times New Roman'; margin-right: 2rem;" >Upload Data</a>
      </div> -->




      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          </li>
        </ul>
      </div> -->
    <!-- </div>
  </nav> -->
  <router-outlet></router-outlet>
</div>
